<body>
    <h1>Eat-Da-Burger!!</h1>

    <h2>Burgers Available on the Menu</h2>
    {{#each burgers }}
    {{#unless this.devoured}}
    <div>
        <p>{{burger_name}}</p>
        <button type="submit" class="btn btn-light devourButton" id={{id}}>Devour</button>
    </div>
    {{/unless}}
    {{/each}}

    <h2>Devoured Burgers</h2>
    {{#each burgers }}
    {{#if this.devoured}}
    <div class="list-group-item list-group-item-action list-group-item-secondary">{{burger_name}}
    </div>
    {{/if}}
    {{/each}}

    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" type="text" name="wish"></textarea>
    <br>
    <button type="submit" class="btn btn-primary submitButton" id="submitButton">Submit</button>
    <br>
    <br>
    <label for="exampleFormControlTextarea1">Enter a burger you want to eat then click the
        "Submit"
        button!</label>
    </div>
    </form>

</body>